@import "../../../public/components/bootstrap/less/bootstrap";

// modify bootstrap paths according to play folders structure
@iconSpritePath:          "/assets/images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/assets/images/glyphicons-halflings-white.png";

@headerHeight: 5px;

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background: white;

    > header {
        background: grey;
        height: @headerHeight;
    }

    > .container {
        // set enough padding-bottom to have no space under the footer in firefox
        padding-bottom: 50px;
    }

    > footer {
        background: #343434;
        color: #fff;
        text-align: center;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.chartSection {
    margin-top: 4em;
    // add padding-left to see bigger numbers on the Y axis like 0.75
    padding-left: 20px;
}

svg {
    display: block;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

.voteBtn {
    .btn;
    .btn-large;
}

.minusBtn {
    .voteBtn;
    float:left;
    strong {
        color: orange;
    }
}

.votedMinusBtn {
    .minusBtn;
    .btn-success;
    strong {
        color: white;
    }
}

.plusBtn {
    .voteBtn;
    float:right;
    strong {
        color: red;
    }
}

.votedPlusBtn {
    .plusBtn;
    .btn-success;
    strong {
        color: white;
    }
}

.votePercentage {
    color: grey;
    font-size: 18px;
}


.questionForm {
    fieldset {
        display: inline-block;
        margin: -0.5em 20px 0 0;
        text-align: left;
        vertical-align: top;

        label {
            display: block;
            margin-bottom: .5em;
            font-weight: bold;
            font-size: 16.25px;
        }
    }

    .btn {
        margin-top: 20px;
    }
}

.choices {
    input {
        display: block;
        margin-bottom: .5em;
    }
    small {
        color: grey;
    }
}

@import "chart";
