@()

<section class="chartSection">
  <div class="chartLegend">
    <span>{{chartLegendDate}}</span>
    <div ng-repeat="line in series" ng-click="toggleLegend(line)" class="chartLegendBlock">
      <div class="legendCircle" style="{{line.legendStyle}}"></div>
      <div class="chartLegendLabel">{{line.name}} : {{line.legendValue}}</div>
    </div>
  </div>

  <div class="chartContainer">
    <div class="yAxis"></div>
    <div class="chart"></div>
    <div class="slider"></div>
  </div>
</section>
