@()

<!DOCTYPE html>

<html ng-app="azzertApp" ng-controller="MainCtrl">
  <head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/angular-ui/build/angular-ui.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/rickshaw/src/css/graph.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/rickshaw/src/css/detail.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("components/rickshaw/src/css/legend.css")">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

    <!--[if lt IE 9]>
        <script src="@routes.Assets.at("components/es5-shim/es5-shim.js")"></script>
        <script src="@routes.Assets.at("components/json3/lib/json3.min.js")"></script>
        <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <!-- content will go to the ng-view div -->
      <div ng-view></div>
    </div>

    <!-- javascripts libs -->
    <script src="@routes.Assets.at("javascripts/EventSource.js")"></script>
    <script src="@routes.Assets.at("components/jquery/jquery.js")"></script>
    <!-- use jquery.cookie because cookieStore from AngularJS does not support expiration date -->
    <script src="@routes.Assets.at("components/jquery.cookie/jquery.cookie.js")"></script>
    <script src="@routes.Assets.at("components/unstable-angular-complete/angular.js")"></script>
    <script src="@routes.Assets.at("components/unstable-angular-complete/angular-resource.js")"></script>
    <script src="@routes.Assets.at("components/unstable-angular-complete/angular-cookies.js")"></script>
    <script src="@routes.Assets.at("components/unstable-angular-complete/angular-sanitize.js")"></script>
    <script src="@routes.Assets.at("components/unstable-angular-complete/angular-bootstrap.js")"></script>
    <script src="@routes.Assets.at("components/angular-bootstrap/ui-bootstrap.js")"></script>
    <script src="@routes.Assets.at("components/angular-bootstrap/ui-bootstrap-tpls.js")"></script>
    <script src="@routes.Assets.at("components/angular-ui/common/module.js")"></script>
    <script src="@routes.Assets.at("components/angular-ui/build/angular-ui.js")"></script>

    <script src="@routes.Assets.at("components/rickshaw/vendor/d3.v2.js")"></script>
    <script src="@routes.Assets.at("components/rickshaw/rickshaw.js")"></script>
    <!-- maybe Fixtures.Color can be removed -->
    <!-- <script src="@routes.Assets.at("components/rickshaw/src/js/Rickshaw.Fixtures.Color.js")"></script> -->
    <script src="@routes.Assets.at("components/rickshaw/src/js/Rickshaw.Color.Palette.js")"></script>

    <!-- my own javascript files -->
    <!-- routes.js needs to be loaded first and defines global dependencies such as 'ngCookies' and 'ngResource' -->
    <script src="@routes.Assets.at("javascripts/routes.js")"></script>
    <script src="@routes.Assets.at("javascripts/mainCtrl.js")"></script>
    <script src="@routes.Assets.at("javascripts/utils/titleService.js")"></script>
    <script src="@routes.Assets.at("javascripts/utils/resourceService.js")"></script>
    <script src="@routes.Assets.at("javascripts/questions/questionsCtrl.js")"></script>
    <script src="@routes.Assets.at("javascripts/questions/questionCtrl.js")"></script>
    <script src="@routes.Assets.at("javascripts/questions/questionResource.js")"></script>
    <script src="@routes.Assets.at("javascripts/charts/questionChartService.js")"></script>
    <script src="@routes.Assets.at("javascripts/answers/answerResource.js")"></script>
    <script src="@routes.Assets.at("javascripts/answerHistory/answerHistoryService.js")"></script>
    <script src="@routes.Assets.at("javascripts/voteCounts/voteCountResource.js")"></script>
    <script src="@routes.Assets.at("javascripts/votes/voteResource.js")"></script>
  </body>
</html>
