@()
<div class="row text-center">
  <div class="span10 offset1">

    <header class="questionName">
      <h1>{{question.name}}</h1>
    </header>

    <hr />

    <section class="answers">
      <div ng-repeat="answer in answers | orderBy:'-voteCount'">
        <h2>{{answer.name}}</h2>
        <div>
          <button class="minusBtn" type="button"><strong>-1</strong></button>
          <span class="votePercentage">{{answer.voteCount}} votes ({{votePercentage(answer.voteCount)}}%)</span>
          <button class="plusBtn" type="button"><strong>+1</strong></button>
        </div>
        <div class="progress progress-striped active">
          <div class="bar" style="width: {{votePercentage(answer.voteCount)}}%;"></div>
        </div>
      </div>
    </section>

    <hr />

    <section class="chartSection">
      <div class="chartLegend"></div>

      <div class="chartContainer">
        <div class="yAxis"></div>
        <div class="chart"></div>
        <div id="slider"></div>
      </div>
    </section>

  </div>
</div>
